/*
 * Get rid of user icons in sidebar.
 *
 * Sometime around 2020-10-22, they replaced the 
 * simple green circle/gray circle status indicators
 * with user icons with the circle overlay.
 * I do not need user icons to quickly find what I
 * am looking for, because I learned the alphabet
 * in kindergarden and I sort alphabetically.
 */
div.p-channel_sidebar__user_avatar span.c-avatar img {
  display:none;
}
div.p-channel_sidebar__user_avatar i.c-icon {
  margin-top:-0.35em;
  margin-left:-0.25em;
  scale:1.25;
}
div.p-channel_sidebar__mpim_avatars span {
    display:none;
}
div.p-channel_sidebar__mpim_counter {
  margin-top:-0.2em;
}
